@font-face {
    font-family: 'fontello';
    src:  url('fonts/fontello.eot?ykrl9a');
    src:  url('fonts/fontello.eot?ykrl9a#iefix') format('embedded-opentype'),
    url('fonts/fontello.ttf?ykrl9a') format('truetype'),
    url('fonts/fontello.woff?ykrl9a') format('woff'),
    url('fonts/fontello.svg?ykrl9a#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.icon-ruler:before {
    content: "\a1001";
}
