// style pop up online design
.main-popup {
  padding:50px!important;
  border-radius: 50px!important;
  .main-body {
    .product {
      .quick-view-content {
        h1.product_title {
          font-family: "poppins";
          font-weight: bold;
          color:#000;
          @media only screen and (min-width:1024px) {
            font-size: 43px !important;
            line-height: 53px;
            margin-bottom: 44px;
          }
        }
        .price-custom{
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width:710px;
          .price{
            font-size: 43px!important;
            font-weight: 900;
            span{
              font-size: 43px!important;
              font-weight: 900;
              color:#000000!important;
              display: inline-block;
              position: relative;
              &::before{
                position: absolute;
                left: 0px;
                bottom: 0px;
                content:"";
                width: 100%;
                height:35px;
                background:#34dfa0;
                z-index: -1;
              }
            }
          }
          .icon-price{
            position: relative;
            padding-left:45px;
            font-family:poppins!important;
            font-weight:bold;
            color: #919191;
            &::before{
              position: absolute;
              font-family: fontello;
              font-weight: normal;
              content: "\a1001";
              font-size:35px;
              top: -14px;
              left: 0px;
              transform: rotate(225deg);
            }
          }
        }
        .description-custom{
          margin-top: 35px;
          margin-bottom: 70px;
          max-width: 710px;
          text-align: justify;
          p{
            font-size: 17px;
            font-weight: 500;
            font-family:poppins;
            color:#000!important;
          }
        }
        .in-stock{
          display: none;
        }
        form{
          &.cart{
            .nbd-option-field{
              border:none;
              .nbd-field-header{
                padding: 0px!important;
                label{
                  color:#000;
                  margin-bottom: 20px!important;
                  font-size: 18px!important;
                }

              }
              &.color-text{
                .nbd-help-tip{
                  display:none!important;
                }
              }
              &.size-custom{
                .nbd-field-content{
                  .nbo-dropdown{
                    padding: 15px;
                    border-radius: 5px;
                    height: 56px;
                    max-width: 710px;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 600;
                  }
                }
              }
              .nbd-help-tip{
                display:none!important;
              }
              .nbd-field-content{
                padding: 0px!important;
                .nbd-swatch-wrap{
                  input[type="radio"]{
                    &:checked + label{
                      border:2px solid #000;
                      &::before, &::after{
                        display: none;
                      }
                    }
                  }
                  .nbd-swatch{
                    width: 40px;
                    height: 40px;
                    margin: 0px 10px 0px 0px!important;
                    border: 2px solid transparent;
                    .nbd-swatch-tooltip{
                      display: none;
                    }
                  }
                }
              }
            }
            .nbo-fields-wrapper{
              .nbo-bulk-title{
                color: #000;
                font-size: 18px;
                font-family: "poppins"
              }
              ul.nbo-bulk-variation{
                padding: 0px;
                margin: 0px;
                li{
                  list-style: none;
                  display: block;
                  float: left;
                  align-items: center;
                  max-width: 710px!important;
                  .name-size{
                    float: left;
                    font-size: 30px;
                    font-weight: 600;
                    color: #000;
                    display: inline-flex;
                    justify-items: center;
                    align-items: center;
                    width:65px;
                    max-width: 65px!important;
                    height: 56px;
                    text-align: center;
                    margin-right:25px;
                    font-family: "poppins";
                  }
                  input[type=number]::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                  }
                  &.quantity-custom{
                    .size-quantity{
                      display: flex;
                      align-items: center;
                      border: 2px solid #bababa;
                      border-radius: 5px;
                      margin-bottom: 18px;
                      input[type=number]{
                        border:none;
                        height: 56px;
                        text-align: center;
                        color:#000;
                        font-size: 30px;
                        font-family: "poppins";
                        font-weight: bold;
                      }
                      .input-number-decrement, .input-number-increment{
                        width: 125px;
                        height: 56px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 30px;
                        color: #000;
                        &:hover{
                          cursor: pointer;
                        }
                        &:focus{
                          outline: none;
                        }
                      }
                    }
                  }
                }
              }
            }
            .nbo-summary-wrapper{
              .nbo-table-summary-wrap, .nbo-table-pricing-wrap{
                &.nbo-style-1{
                  border:none;
                }
                .nbo-summary-title, .nbo-table-pricing-title{
                  margin: 34px 0px;
                  padding: 0px;
                  background:#fff;
                  font-size: 18px;
                  font-family: "poppins";
                  color:#000;
                  justify-content: flex-start;
                }
                .nbo-summary-table, .nbo-table-pricing{
                  border-collapse: unset;
                  border-spacing: unset;
                  padding: 20px;
                  background: #f3f3f3;
                  border-radius: 15px;
                  max-width: 710px;
                  .nbo-final-price{
                    background: #f3f3f3;
                  }
                  thead{
                    tr{
                      th{
                        background: #f3f3f3;
                        padding: 15px 0px;
                      }
                    }
                  }
                  td{
                    background: #f3f3f3;
                    padding: 15px 0px;
                    border-top: 1px solid #ccc;
                  }
                }
              }
            }
          }
          .nbd-option-wrapper{
            .nbo-fields-wrapper{
              display: flex;
              flex-direction: column;
              .color-text{
                order: 1;
                margin-bottom: 47px;
              }
              .size-custom{
                order:2;
                margin-bottom: 30px;
              }
              .nbo-bulk-title{
                order:2;
                margin-bottom: 35px;
              }
              .nbo-bulk-variation-wrap{
                order:3;
              }
              .label-custom{
                order:4;
                padding:20px;
                background: #f3f3f3!important;
                margin-bottom: 0px;
                max-width: 710px;
                .nbd-field-header{
                  background: #f3f3f3!important;
                  label{
                    background: #f3f3f3!important;
                    margin: 0px 0px 26px!important;
                    text-transform: capitalize;
                    height: inherit;
                    font-size: 30px!important;
                  }
                }
                .nbd-field-content{
                  .nbd-label-wrap, .nbd-swatch-wrap{
                    input[type="radio"] + label{
                      margin: 0px 7px 20px 7px!important;
                      background: #fff;
                      border:1px solid #bababa;
                      box-shadow: none;
                      color:#000000;
                      padding:6px 40px;
                      height:inherit!important;
                      overflow: inherit!important;
                    }
                    input[type="radio"]{
                      &:checked + label{
                        background:#34dfa0;
                        box-shadow: none;
                        color: #000;
                        border:1px solid transparent;
                      }
                    }
                  }
                }
                &.first{
                  border-radius:15px 15px 0px 0px !important;
                  padding-bottom: 0px;
                }
                &.last{
                  padding-top: 0px;
                  border-radius:0px 0px 15px 15px !important;
                }
              }
              .nbo-clear-option-wrap.ng-scope{
                order:5;
                display:none;
              }
            }
          }
          .button-custom{
            display: none;
            width: 100%;
            background: #000!important;
            border-radius: 35px!important;
            height: 65px;
            margin-top: 30px;
            @media(min-width:992px) {
              .btn{
                font-size:25px!important;
              }
            }
          }
          .quantity{
            .custom-qty{
              border:1px solid #ccc;
            }
          }
        }
        .quick-view{
          .input-text{
            &.qty{
              border:1px solid #ccc;
            }
          }
        }
        .yith-wcwl-add-to-wishlist, .product_meta, hr{
          display:none;
        }
      }
      .quick-view-image{
        .woocommerce-product-gallery__image{
          img{
            border:none!important;
            box-shadow: none!important;
            border-radius: 20px;
            padding: 0px;
          }
        }
      }
    }
  }
  .footer{
    border:none!important;
  }
}
#tab-product{
  .nbd-products{
     h1.product_title {
      font-family: "poppins";
      font-weight: bold;
      color:#000;
      @media only screen and (min-width:1024px) {
        font-size:23px !important;
        margin-bottom:25px;
      }
    }
    .price{
      font-size:23px!important;
      font-weight: 900;
      margin-bottom: 20px;
      span{
        font-size: 43px!important;
        font-weight: 900;
        color:#000000!important;
        display: inline-block;
        position: relative;
        &::before{
          position: absolute;
          left: 0px;
          bottom: 0px;
          content:"";
          width: 100%;
          height:35px;
          background:#34dfa0;
          z-index: -1;
        }
      }
    }
    .description-custom{
      margin-top: 35px;
      margin-bottom: 70px;
      max-width: 710px;
      text-align: justify;
      p{
        font-size: 17px;
        font-weight: 500;
        font-family:poppins;
        color:#000!important;
      }
    }
    .in-stock{
      display: none;
    }
    form{
      &.cart{
        .nbd-option-field{
          border:none;
          .nbd-field-header{
            padding: 0px!important;
            background:#d0d6dd;
            label{
              color:#000;
              margin-bottom:15px!important;
              font-size:16px!important;
            }

          }
          &.color-text{
            .nbd-help-tip{
              display:none!important;
            }
          }
          &.size-custom{
            .nbd-field-content{
              .nbo-dropdown{
                padding: 15px;
                border-radius:10px;
                height: 56px;
                max-width: 710px;
                width: 100%;
                font-size: 14px;
                font-weight: 600;
              }
            }
          }
          .nbd-help-tip{
            display:none!important;
          }
          .nbd-field-content{
            padding: 0px!important;
            .nbd-swatch-wrap{
              input[type="radio"]{
                &:checked + label{
                  border:2px solid #000;
                  &::before, &::after{
                    display: none;
                  }
                }
              }
              .nbd-swatch{
                width: 40px;
                height: 40px;
                margin: 0px 10px 0px 0px!important;
                border: 2px solid transparent;
                .nbd-swatch-tooltip{
                  display: none;
                }
              }
            }
          }
        }
        .nbo-fields-wrapper{
          .nbo-bulk-title{
            color: #000;
            font-size:16px;
            font-family: "poppins"
          }
          ul.nbo-bulk-variation{
            padding: 0px;
            margin: 0px;
            li{
              list-style: none;
              display: block;
              float: left;
              align-items: center;
              .name-size{
                float: left;
                font-size:20px;
                font-weight: 600;
                color: #000;
                display: inline-flex;
                justify-items: center;
                align-items: center;
                width:35px;
                max-width: 65px!important;
                height: 56px;
                text-align: center;
                margin-right:25px;
                font-family: "poppins";
              }
              input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }
              &.quantity-custom{
                .size-quantity{
                  display: flex;
                  align-items: center;
                  border: 2px solid #bababa;
                  border-radius: 5px;
                  margin-bottom: 18px;
                  input[type=number]{
                    border:none;
                    height: 56px;
                    text-align: center;
                    color:#000;
                    font-size: 30px;
                    font-family: "poppins";
                    font-weight: bold;
                    width:180px;
                  }
                  .input-number-decrement, .input-number-increment{
                    width:55px;
                    height: 56px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size:20px;
                    color: #000;
                    &:hover{
                      cursor: pointer;
                    }
                    &:focus{
                      outline: none;
                    }
                  }
                }
              }
            }
          }
        }
        .nbo-summary-wrapper{
          .nbo-table-summary-wrap, .nbo-table-pricing-wrap{
            &.nbo-style-1{
              border:none;
              background: transparent;
            }
            .nbo-summary-title, .nbo-table-pricing-title{
              margin: 34px 0px;
              padding: 0px;
              background:transparent;
              font-size: 18px;
              font-family: "poppins";
              color:#000;
              justify-content: flex-start;
            }
            .nbo-summary-table, .nbo-table-pricing{
              border-collapse: unset;
              border-spacing: unset;
              padding: 20px;
              background: #f3f3f3;
              border-radius: 15px;
              max-width: 710px;
              .nbo-final-price{
                background: #f3f3f3;
              }
              thead{
                tr{
                  th{
                    background: #f3f3f3;
                    padding: 15px 0px;
                  }
                }
              }
              td{
                background: #f3f3f3;
                padding: 15px 0px;
                border-top: 1px solid #ccc;
              }
            }
          }
        }
      }
      .nbd-option-wrapper{
        .nbo-fields-wrapper{
          display: flex;
          flex-direction: column;
          .color-text{
            background:#d0d6dd;
            order: 1;
            margin-bottom: 20px
          }
          .size-custom{
            order:2;
            margin-bottom: 30px;
            background: transparent;
            .nbo-dropdown{
              background: url('../images/arrow.png')no-repeat right #fff;
              border:1px solid #ccc;
            }
          }
          .nbo-bulk-title{
            order:2;
            margin-bottom: 35px;
          }
          .nbo-bulk-variation-wrap{
            order:3;
          }
          .label-custom{
            order:4;
            padding:20px;
            background: #f3f3f3!important;
            margin-bottom: 0px;
            .nbd-field-header{
              background: #f3f3f3!important;
              label{
                background: #f3f3f3!important;
                margin: 0px 0px 26px!important;
                text-transform: capitalize;
                height: inherit;
                font-size:18px!important;
              }
            }
            .nbd-field-content{
              .nbd-label-wrap, .nbd-swatch-wrap{
                input[type="radio"] + label{
                  margin: 0px 7px 20px 7px!important;
                  background: #fff;
                  border:1px solid #bababa;
                  box-shadow: none;
                  color:#000000;
                  padding: 6px 15px;
                  height:inherit!important;
                  overflow: inherit!important;
                  font-size: 12px;
                }
                input[type="radio"]{
                  &:checked + label{
                    background:#34dfa0;
                    box-shadow: none;
                    color: #000;
                    border:1px solid transparent;
                  }
                }
              }
            }
            &.first{
              border-radius:15px 15px 0px 0px !important;
              padding-bottom: 0px;
            }
            &.last{
              padding-top: 0px;
              border-radius:0px 0px 15px 15px !important;
            }
          }
          .nbo-clear-option-wrap.ng-scope{
            order:5;
            display:none;
          }
        }
      }
      .button-custom{
        display: block;
        width: 100%;
        background: #000!important;
        border-radius: 35px!important;
        height: 65px;
        margin-top: 30px;
        @media(min-width:992px) {
          .btn{
            font-size:25px!important;
          }
        }
      }
    }
  }
}
.nbd-main-bar{
  ul{
    &.menu-right{
      .menu-item{
        &.item-process{
          background: #34dfa0 !important;
          border-radius: 20px;
          span, i{
            color: #000!important;
          }
        }
      }
    }
  }
}