@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.eot?ykrl9a");
  src: url("fonts/fontello.eot?ykrl9a#iefix") format("embedded-opentype"), url("fonts/fontello.ttf?ykrl9a") format("truetype"), url("fonts/fontello.woff?ykrl9a") format("woff"), url("fonts/fontello.svg?ykrl9a#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon-ruler:before {
  content: "\a1001";
}

.main-popup {
  padding: 50px !important;
  border-radius: 50px !important;
}
.main-popup .main-body .product .quick-view-content h1.product_title {
  font-family: "poppins";
  font-weight: bold;
  color: #000;
}
@media only screen and (min-width: 1024px) {
  .main-popup .main-body .product .quick-view-content h1.product_title {
    font-size: 43px !important;
    line-height: 53px;
    margin-bottom: 44px;
  }
}
.main-popup .main-body .product .quick-view-content .price-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 710px;
}
.main-popup .main-body .product .quick-view-content .price-custom .price {
  font-size: 43px !important;
  font-weight: 900;
}
.main-popup .main-body .product .quick-view-content .price-custom .price span {
  font-size: 43px !important;
  font-weight: 900;
  color: #000000 !important;
  display: inline-block;
  position: relative;
}
.main-popup .main-body .product .quick-view-content .price-custom .price span::before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: "";
  width: 100%;
  height: 35px;
  background: #34dfa0;
  z-index: -1;
}
.main-popup .main-body .product .quick-view-content .price-custom .icon-price {
  position: relative;
  padding-left: 45px;
  font-family: poppins !important;
  font-weight: bold;
  color: #919191;
}
.main-popup .main-body .product .quick-view-content .price-custom .icon-price::before {
  position: absolute;
  font-family: fontello;
  font-weight: normal;
  content: "\a1001";
  font-size: 35px;
  top: -14px;
  left: 0px;
  transform: rotate(225deg);
}
.main-popup .main-body .product .quick-view-content .description-custom {
  margin-top: 35px;
  margin-bottom: 70px;
  max-width: 710px;
  text-align: justify;
}
.main-popup .main-body .product .quick-view-content .description-custom p {
  font-size: 17px;
  font-weight: 500;
  font-family: poppins;
  color: #000 !important;
}
.main-popup .main-body .product .quick-view-content .in-stock {
  display: none;
}
.main-popup .main-body .product .quick-view-content form.cart .nbd-option-field {
  border: none;
}
.main-popup .main-body .product .quick-view-content form.cart .nbd-option-field .nbd-field-header {
  padding: 0px !important;
}
.main-popup .main-body .product .quick-view-content form.cart .nbd-option-field .nbd-field-header label {
  color: #000;
  margin-bottom: 20px !important;
  font-size: 18px !important;
}
.main-popup .main-body .product .quick-view-content form.cart .nbd-option-field.color-text .nbd-help-tip {
  display: none !important;
}
.main-popup .main-body .product .quick-view-content form.cart .nbd-option-field.size-custom .nbd-field-content .nbo-dropdown {
  padding: 15px;
  border-radius: 5px;
  height: 56px;
  max-width: 710px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}
.main-popup .main-body .product .quick-view-content form.cart .nbd-option-field .nbd-help-tip {
  display: none !important;
}
.main-popup .main-body .product .quick-view-content form.cart .nbd-option-field .nbd-field-content {
  padding: 0px !important;
}
.main-popup .main-body .product .quick-view-content form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap input[type="radio"]:checked + label {
  border: 2px solid #000;
}
.main-popup .main-body .product .quick-view-content form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap input[type="radio"]:checked + label::before, .main-popup .main-body .product .quick-view-content form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap input[type="radio"]:checked + label::after {
  display: none;
}
.main-popup .main-body .product .quick-view-content form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap .nbd-swatch {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 0px !important;
  border: 2px solid transparent;
}
.main-popup .main-body .product .quick-view-content form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap .nbd-swatch .nbd-swatch-tooltip {
  display: none;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper .nbo-bulk-title {
  color: #000;
  font-size: 18px;
  font-family: "poppins";
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation {
  padding: 0px;
  margin: 0px;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li {
  list-style: none;
  display: block;
  float: left;
  align-items: center;
  max-width: 710px !important;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li .name-size {
  float: left;
  font-size: 30px;
  font-weight: 600;
  color: #000;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  width: 65px;
  max-width: 65px !important;
  height: 56px;
  text-align: center;
  margin-right: 25px;
  font-family: "poppins";
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity {
  display: flex;
  align-items: center;
  border: 2px solid #bababa;
  border-radius: 5px;
  margin-bottom: 18px;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity input[type=number] {
  border: none;
  height: 56px;
  text-align: center;
  color: #000;
  font-size: 30px;
  font-family: "poppins";
  font-weight: bold;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-decrement, .main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-increment {
  width: 125px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #000;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-decrement:hover, .main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-increment:hover {
  cursor: pointer;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-decrement:focus, .main-popup .main-body .product .quick-view-content form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-increment:focus {
  outline: none;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-summary-wrap.nbo-style-1, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap.nbo-style-1 {
  border: none;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-title, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing-title, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-title, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing-title {
  margin: 34px 0px;
  padding: 0px;
  background: #fff;
  font-size: 18px;
  font-family: "poppins";
  color: #000;
  justify-content: flex-start;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing {
  border-collapse: unset;
  border-spacing: unset;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 15px;
  max-width: 710px;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table .nbo-final-price, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing .nbo-final-price, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table .nbo-final-price, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing .nbo-final-price {
  background: #f3f3f3;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table thead tr th, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing thead tr th, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table thead tr th, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing thead tr th {
  background: #f3f3f3;
  padding: 15px 0px;
}
.main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table td, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing td, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table td, .main-popup .main-body .product .quick-view-content form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing td {
  background: #f3f3f3;
  padding: 15px 0px;
  border-top: 1px solid #ccc;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper {
  display: flex;
  flex-direction: column;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .color-text {
  order: 1;
  margin-bottom: 47px;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .size-custom {
  order: 2;
  margin-bottom: 30px;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .nbo-bulk-title {
  order: 2;
  margin-bottom: 35px;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .nbo-bulk-variation-wrap {
  order: 3;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .label-custom {
  order: 4;
  padding: 20px;
  background: #f3f3f3 !important;
  margin-bottom: 0px;
  max-width: 710px;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-header {
  background: #f3f3f3 !important;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-header label {
  background: #f3f3f3 !important;
  margin: 0px 0px 26px !important;
  text-transform: capitalize;
  height: inherit;
  font-size: 30px !important;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-content .nbd-label-wrap input[type="radio"] + label, .main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-content .nbd-swatch-wrap input[type="radio"] + label {
  margin: 0px 7px 20px 7px !important;
  background: #fff;
  border: 1px solid #bababa;
  box-shadow: none;
  color: #000000;
  padding: 6px 40px;
  height: inherit !important;
  overflow: inherit !important;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-content .nbd-label-wrap input[type="radio"]:checked + label, .main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-content .nbd-swatch-wrap input[type="radio"]:checked + label {
  background: #34dfa0;
  box-shadow: none;
  color: #000;
  border: 1px solid transparent;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .label-custom.first {
  border-radius: 15px 15px 0px 0px !important;
  padding-bottom: 0px;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .label-custom.last {
  padding-top: 0px;
  border-radius: 0px 0px 15px 15px !important;
}
.main-popup .main-body .product .quick-view-content form .nbd-option-wrapper .nbo-fields-wrapper .nbo-clear-option-wrap.ng-scope {
  order: 5;
  display: none;
}
.main-popup .main-body .product .quick-view-content form .button-custom {
  display: none;
  width: 100%;
  background: #000 !important;
  border-radius: 35px !important;
  height: 65px;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .main-popup .main-body .product .quick-view-content form .button-custom .btn {
    font-size: 25px !important;
  }
}
.main-popup .main-body .product .quick-view-content form .quantity .custom-qty {
  border: 1px solid #ccc;
}
.main-popup .main-body .product .quick-view-content .quick-view .input-text.qty {
  border: 1px solid #ccc;
}
.main-popup .main-body .product .quick-view-content .yith-wcwl-add-to-wishlist, .main-popup .main-body .product .quick-view-content .product_meta, .main-popup .main-body .product .quick-view-content hr {
  display: none;
}
.main-popup .main-body .product .quick-view-image .woocommerce-product-gallery__image img {
  border: none !important;
  box-shadow: none !important;
  border-radius: 20px;
  padding: 0px;
}
.main-popup .footer {
  border: none !important;
}

#tab-product .nbd-products h1.product_title {
  font-family: "poppins";
  font-weight: bold;
  color: #000;
}
@media only screen and (min-width: 1024px) {
  #tab-product .nbd-products h1.product_title {
    font-size: 23px !important;
    margin-bottom: 25px;
  }
}
#tab-product .nbd-products .price {
  font-size: 23px !important;
  font-weight: 900;
  margin-bottom: 20px;
}
#tab-product .nbd-products .price span {
  font-size: 43px !important;
  font-weight: 900;
  color: #000000 !important;
  display: inline-block;
  position: relative;
}
#tab-product .nbd-products .price span::before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: "";
  width: 100%;
  height: 35px;
  background: #34dfa0;
  z-index: -1;
}
#tab-product .nbd-products .description-custom {
  margin-top: 35px;
  margin-bottom: 70px;
  max-width: 710px;
  text-align: justify;
}
#tab-product .nbd-products .description-custom p {
  font-size: 17px;
  font-weight: 500;
  font-family: poppins;
  color: #000 !important;
}
#tab-product .nbd-products .in-stock {
  display: none;
}
#tab-product .nbd-products form.cart .nbd-option-field {
  border: none;
}
#tab-product .nbd-products form.cart .nbd-option-field .nbd-field-header {
  padding: 0px !important;
  background: #d0d6dd;
}
#tab-product .nbd-products form.cart .nbd-option-field .nbd-field-header label {
  color: #000;
  margin-bottom: 15px !important;
  font-size: 16px !important;
}
#tab-product .nbd-products form.cart .nbd-option-field.color-text .nbd-help-tip {
  display: none !important;
}
#tab-product .nbd-products form.cart .nbd-option-field.size-custom .nbd-field-content .nbo-dropdown {
  padding: 15px;
  border-radius: 10px;
  height: 56px;
  max-width: 710px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}
#tab-product .nbd-products form.cart .nbd-option-field .nbd-help-tip {
  display: none !important;
}
#tab-product .nbd-products form.cart .nbd-option-field .nbd-field-content {
  padding: 0px !important;
}
#tab-product .nbd-products form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap input[type="radio"]:checked + label {
  border: 2px solid #000;
}
#tab-product .nbd-products form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap input[type="radio"]:checked + label::before, #tab-product .nbd-products form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap input[type="radio"]:checked + label::after {
  display: none;
}
#tab-product .nbd-products form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap .nbd-swatch {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 0px !important;
  border: 2px solid transparent;
}
#tab-product .nbd-products form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap .nbd-swatch .nbd-swatch-tooltip {
  display: none;
}
#tab-product .nbd-products form.cart .nbo-fields-wrapper .nbo-bulk-title {
  color: #000;
  font-size: 16px;
  font-family: "poppins";
}
#tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation {
  padding: 0px;
  margin: 0px;
}
#tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li {
  list-style: none;
  display: block;
  float: left;
  align-items: center;
}
#tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li .name-size {
  float: left;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  width: 35px;
  max-width: 65px !important;
  height: 56px;
  text-align: center;
  margin-right: 25px;
  font-family: "poppins";
}
#tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity {
  display: flex;
  align-items: center;
  border: 2px solid #bababa;
  border-radius: 5px;
  margin-bottom: 18px;
}
#tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity input[type=number] {
  border: none;
  height: 56px;
  text-align: center;
  color: #000;
  font-size: 30px;
  font-family: "poppins";
  font-weight: bold;
  width: 180px;
}
#tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-decrement, #tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-increment {
  width: 55px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #000;
}
#tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-decrement:hover, #tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-increment:hover {
  cursor: pointer;
}
#tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-decrement:focus, #tab-product .nbd-products form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-increment:focus {
  outline: none;
}
#tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-summary-wrap.nbo-style-1, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap.nbo-style-1 {
  border: none;
  background: transparent;
}
#tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-title, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing-title, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-title, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing-title {
  margin: 34px 0px;
  padding: 0px;
  background: transparent;
  font-size: 18px;
  font-family: "poppins";
  color: #000;
  justify-content: flex-start;
}
#tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing {
  border-collapse: unset;
  border-spacing: unset;
  padding: 20px;
  background: #f3f3f3;
  border-radius: 15px;
  max-width: 710px;
}
#tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table .nbo-final-price, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing .nbo-final-price, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table .nbo-final-price, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing .nbo-final-price {
  background: #f3f3f3;
}
#tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table thead tr th, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing thead tr th, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table thead tr th, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing thead tr th {
  background: #f3f3f3;
  padding: 15px 0px;
}
#tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table td, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing td, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table td, #tab-product .nbd-products form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing td {
  background: #f3f3f3;
  padding: 15px 0px;
  border-top: 1px solid #ccc;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper {
  display: flex;
  flex-direction: column;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .color-text {
  background: #d0d6dd;
  order: 1;
  margin-bottom: 20px;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .size-custom {
  order: 2;
  margin-bottom: 30px;
  background: transparent;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .size-custom .nbo-dropdown {
  background: url("../images/arrow.png") no-repeat right #fff;
  border: 1px solid #ccc;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .nbo-bulk-title {
  order: 2;
  margin-bottom: 35px;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .nbo-bulk-variation-wrap {
  order: 3;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .label-custom {
  order: 4;
  padding: 20px;
  background: #f3f3f3 !important;
  margin-bottom: 0px;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-header {
  background: #f3f3f3 !important;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-header label {
  background: #f3f3f3 !important;
  margin: 0px 0px 26px !important;
  text-transform: capitalize;
  height: inherit;
  font-size: 18px !important;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-content .nbd-label-wrap input[type="radio"] + label, #tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-content .nbd-swatch-wrap input[type="radio"] + label {
  margin: 0px 7px 20px 7px !important;
  background: #fff;
  border: 1px solid #bababa;
  box-shadow: none;
  color: #000000;
  padding: 6px 15px;
  height: inherit !important;
  overflow: inherit !important;
  font-size: 12px;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-content .nbd-label-wrap input[type="radio"]:checked + label, #tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-content .nbd-swatch-wrap input[type="radio"]:checked + label {
  background: #34dfa0;
  box-shadow: none;
  color: #000;
  border: 1px solid transparent;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .label-custom.first {
  border-radius: 15px 15px 0px 0px !important;
  padding-bottom: 0px;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .label-custom.last {
  padding-top: 0px;
  border-radius: 0px 0px 15px 15px !important;
}
#tab-product .nbd-products form .nbd-option-wrapper .nbo-fields-wrapper .nbo-clear-option-wrap.ng-scope {
  order: 5;
  display: none;
}
#tab-product .nbd-products form .button-custom {
  display: block;
  width: 100%;
  background: #000 !important;
  border-radius: 35px !important;
  height: 65px;
  margin-top: 30px;
}
@media (min-width: 992px) {
  #tab-product .nbd-products form .button-custom .btn {
    font-size: 25px !important;
  }
}

.nbd-main-bar ul.menu-right .menu-item.item-process {
  background: #34dfa0 !important;
  border-radius: 20px;
}
.nbd-main-bar ul.menu-right .menu-item.item-process span, .nbd-main-bar ul.menu-right .menu-item.item-process i {
  color: #000 !important;
}

/*# sourceMappingURL=main_custom.css.map */
